#canvas1 {
    border: 1px solid black;
    background: #d79c50;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#canvas2 {
    position: absolute;
    bottom: 1vmin;
    right: 1vmin;
    /* z-index: 2; */
    /* background-color: blueviolet; */
}

#score {
    position: absolute;
    top: 5vmin;
    right: 5vmin;
    z-index: 5;
    color: orange;
    font-size: 6vmin;
    font-family: Creepster;
    filter: brightness(70%);
    min-width: 40vmin;
}

body {
    -webkit-touch-callout: none;
    /* Safari */
    -webkit-user-select: none;
    /* Chrome */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    overflow: hidden;
}