canvas {
    border: 1px solid black;
    background: #d79c50;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    position: absolute;
    width: 10vmin;
    height: 10vmin;
    /* font-size: 2rem; */
    border-radius: 10%;
    background-color: lightblue;
    opacity: .6;
}

#score {
    position: absolute;
    top: 5vmin;
    right: 5vmin;
    z-index: 5;
    color: orange;
    font-size: 6vmin;
    font-family: Creepster;
    filter: brightness(70%);
}

#button-box {
    height: 30vmin;
    width: 30vmin;
    background-color: orange;
    filter: brightness(70%);
    position: absolute;
    bottom: 1vmin;
    right: 1vmin;
    opacity: .75;
    border-radius: 10%;
}

#up {
    left: 10vmin;
}

#down {
    left: 10vmin;
    top: 20vmin;
}

#left {
    top: 10vmin;
}

#right {
    top: 10vmin;
    left: 20vmin;
}

body {
    -webkit-touch-callout: none;
    /* Safari */
    -webkit-user-select: none;
    /* Chrome */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}